.App {
  text-align: center;
}

body {
  background-color: #303633;
  color: #000;
}

.background-color {
  background-color: #303633;
}

.primary-message {
  /* background-color: #61E8E1;  */
  background-color: #54c3bd;
}

.secondary-message {
  background-color: #d8cd9e;
}

.danger-color {
  background-color: #D7263D;
}
