.App {
  text-align: center;
}

body {
  background-color: #282a2d;
  color: #000;
}

.background-color {
  background-color: #303633;
}

.login-paper {
  max-width: 500px;
  width: 100%;
}

.chat {
  color: white;
  padding: 10px;
  margin-bottom: 60px;
}

.messages {
  text-align: left;
  margin-top: 30px;
}

.message {
  border-radius: 20px;
  max-width: 75%;
  width: fit-content;
  word-break: break-word;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.yours  {
  margin-right: auto;
  background-color: #333538;
}

.mine  {
  margin-left: auto;
  background: #202224;
}
